RewriteEngine on
RewriteCond %{HTTP_HOST} ^winhappy.atenaagencia.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^wwww.winhappy.atenaagencia.com$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]
