
.bg-fraternidade{
   /* background: url(../img/friends.jpeg) no-repeat center center fixed;  */
    
   /* background:linear-gradient(0deg, rgb(241, 39, 17, 0), rgba(141, 100, 153, 0.774)), url(../img/friends.jpeg) no-repeat center center fixed; */
   background: url(../img/friends.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

.bg-section-friends{
    /* background:linear-gradient(0deg, rgb(241, 39, 17, 0), rgba(141, 100, 153, 0.774)), url(../img/friends.jpeg) no-repeat center center fixed; */
    background: url(../img/person.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover; 
   width: 50%;
 }

 .bg-section-hands{
    /* background:linear-gradient(0deg, rgb(241, 39, 17, 0), rgba(141, 100, 153, 0.774)), url(../img/friends.jpeg) no-repeat center center fixed; */
    background: url(../img/hands.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover; 
   width: 50%;
 }

.card-login{
    background-color: transparent !important;
}

.font-montserrat{
    font-family: 'Montserrat', sans-serif;
}

.green
{
	background-color: rgb(81, 163, 22);
	border-bottom: 5px solid #3d681e;
	text-shadow: 0px -2px #669644;
}

.blue
{
	background-color: #0080DE;
	border-bottom: 5px solid rgb(27, 109, 163);
	text-shadow: 0px -2px #2980B9;
}


.action-button:active
{
	transform: translate(0px,5px);
   -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
    margin: 0px 10px 10px 0px;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	color: #FFF;
	text-decoration: none;	
}

.action-button:hover
{
	color: #FFF;
	text-decoration: none !important;	
}

html, body {
    /* background-color: #029F55 !important*/
    color: white !important;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links#footer > a {
    color: black !important;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
}

.m-b-md {
    margin-bottom: 30px;
}


.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:10px;
    padding:20px 10px;
    margin:30px 0px;
    border: 2px  solid black !important;
}

#box-success:hover{
    color: rgb(81, 163, 22);
}

#box-part-success:hover{
    border: 2px solid rgb(81, 163, 22) !important;
    background: rgb(81, 163, 22);
    color: white !important;
}


#box-primary:hover{
    color: #3490dc !important;
}

#box-part-primary:hover{
    border: 2px solid #3490dc !important;
    background: #3490dc;
    color: white !important;
}

#box-purple:hover{
    color: #9561e2 !important;
}

#box-part-purple:hover{
    border: 2px solid #9561e2 !important;
    background: #9561e2;
    color: white !important;
}

#box-warning:hover{
    color: #ffed4a !important;
}

#box-part-warning:hover{
    border: 2px solid #ffed4a !important;
    background: #ffed4a;
    color: black !important;
}

.bg-o-dark{
    background: linear-gradient(to bottom,#161616 0,rgba(22,22,22,.9) 75%,rgba(22,22,22,.8) 100%);
}

hr.divider {
    max-width: 6.25rem;
    border-width: 0.2rem;
    border-color: rgb(81, 163, 22);
}

.page-section {
    padding: 8rem 0;
}


.profile-photo-1 {
    display: flex;
    justify-content: center;
    height: 400px !important;
    overflow: hidden;
    object-fit: cover;
    border-radius: .50rem;
    /* margin-bottom: 10px; */

    background: 
    /* top, transparent red */ 
    linear-gradient(
      rgb(0, 0, 0, 0), 
      rgba(0, 70, 87, 0.568)
    ),
    /* bottom, image */
    url('../img/register_2.jpg') no-repeat center center;
    background-size: cover; 
}

.profile-photo-2 {
    display: flex;
    justify-content: center;
    height: 400px !important;
    overflow: hidden;
    object-fit: cover;
    border-radius: .50rem;
    /* margin-bottom: 10px; */

    background: 
    /* top, transparent red */ 
    linear-gradient(
      rgb(0, 0, 0, 0), 
      rgba(134, 33, 87, 0.568)
    ),
    /* bottom, image */
    url('../img/credit_card.jpg') no-repeat center center;
    background-size: cover; 
}

.profile-photo-3 {
    display: flex;
    justify-content: center;
    height: 400px !important;
    overflow: hidden;
    object-fit: cover;
    border-radius: .50rem;
    /* margin-bottom: 10px; */

    background: 
    /* top, transparent red */ 
    linear-gradient(
      rgb(0, 0, 0, 0), 
      rgba(0, 87, 46, 0.568)
    ),
    /* bottom, image */
    url('../img/sharing.jpeg') no-repeat center center;
    background-size: cover; 
}
.profile-photo-4 {
    display: flex;
    justify-content: center;
    height: 400px !important;
    overflow: hidden;
    object-fit: cover;
    border-radius: .50rem;
    /* margin-bottom: 10px; */

    background: 
    /* top, transparent red */ 
    linear-gradient(
      rgb(0, 0, 0, 0), 
      rgba(117, 119, 2, 0.568)
    ),
    /* bottom, image */
    url('../img/recieve.jpg') no-repeat center center;
    background-size: cover; 
}

.profile-label{
    position: relative;
    top: -300px;
    color: white !important;
    justify-content: center;
    object-fit: center;
    align-items: center !important;
    text-align: center;
    font-weight: bold;
}
